<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/heathrow.css">

    <title>Home</title>
    <style>
        body { 
            display: flex; 
            justify-content: center; 
            align-items: center; 
            height: 100vh; 
            flex-direction: column;
        }
        input, button {
            margin: 5px;
            padding: 10px;
        }
    </style>
</head>
<h1> Airport Sky Terminal</h1>
<p> Please search for an airport below...</p>
<body>
    <form id="airport-search-form">
        <input type="text" id="airportInput" placeholder="Search for an airport...">
        <button type="submit">Search</button>
    </form>
    
    <div id="airportSelectionMessage" style="display: none;">Multiple airports found, please select one:</div>
    <select id="airportSelection" style="display: none;"></select>
    <button id="selectAirportButton" style="display: none;">Go to Airport</button>
    
    
    <script src="js/script.js"></script>
      
</body>
</html>
