<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: #f5f5f5;
            margin: 0;
            padding: 0;
        }
        .privacy-policy {
            background-color: white;
            margin: 20px auto;
            padding: 20px;
            max-width: 800px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        h1, h2 {
            color: #333;
        }
        p {
            color: #666;
            line-height: 1.6;
        }
        a {
            color: #007bff;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="privacy-policy">
        <h1>Privacy Policy</h1>
        <p>Last updated: 5th April 2024</p>
        
        <h2>Introduction</h2>
        <p>Welcome to our website. We are committed to respecting the privacy of all visitors and users. Our privacy policy, outlined below, explains the types of information we do not collect, as well as our stance on cookies and third-party data usage.</p>

        <h2>No Personal Data Collection</h2>
        <p>We do not collect any personal data from our users. Our website is designed to provide information without requiring user registration or personal information submission.</p>

        <h2>No Cookies</h2>
        <p>Our website does not use cookies. We do not track or store any information regarding your visit to our website.</p>

        <h2>Third-Party Data</h2>
        <p>Our service utilizes the VATSIM API to display data about users. It is important to note that we do not process this data; we only display it. The data provided by the VATSIM API remains the property and responsibility of VATSIM, and any concerns regarding this data should be directed to VATSIM's privacy policy.</p>

        <h2>Changes to This Policy</h2>
        <p>We may update this privacy policy from time to time to reflect changes in our practices or for other operational, legal, or regulatory reasons. We encourage you to review this privacy policy periodically to stay informed about our practices.</p>

        <h2>Contact Us</h2>
        <p>If you have any questions or concerns about our privacy policy, please contact us via our github https://github.com/theyetty/vatskyterminal.</p>
    </div>
</body>
</html>
