/* CSS Variables for easy theme management */
:root {
  --main-bg-color: #272F37;
  --text-color: #989EA5;
  --accent-color: #FFCD01;
  --header-bg-color: #FFCD01;
  --header-text-color: black;
  --modal-bg-color: #fff;
  --board-padding: 20px;
  --border-radius: 10px;
  --table-spacing: 10px;
  --table-row-bg: #151B20;
  /* Background color for table rows */
  --input-bg-color: #FFFFFF;
  /* Background color for input fields */
  --button-bg-color: #FFCC03;
  /* Background color for buttons */
}

/* Base styles */
body {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.header {
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  padding: 10px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* This line is added */
  border-radius: var(--border-radius);
  width: 98%;
  height: 100px;
}



.board {
  margin: 0 auto;
  /* This will center the .board div horizontally */
  padding: var(--board-padding);
  /* Your existing padding */
}

/* Table styles */
table {
  border-collapse: separate;
  /* Needed for border-spacing to work */
  border-spacing: 0 var(--table-spacing);
  margin: 0 auto;
  /* This centers the table horizontally within its container */
  width: 100%;
  /* Tables will now take the full width of the .board container */
}

td {
  padding: 10px;
  text-align: left;
  background-color: var(--table-row-bg);
  /* Background color for table cells */
}

th {
  text-align: left;
  padding-left: 10px;
  padding-top: 20px;
}


/* Rounded corners for first and last table cells */
/* Target the first and last td of each row for rounded corners */
.departures tbody tr td:first-child,
.arrivals tbody tr td:first-child {
  border-top-left-radius: 10px;
  /* Rounded top-left corner */
  border-bottom-left-radius: 10px;
  /* Rounded bottom-left corner */
}

.departures tbody tr td:last-child,
.arrivals tbody tr td:last-child {
  border-top-right-radius: 10px;
  /* Rounded top-right corner */
  border-bottom-right-radius: 10px;
  /* Rounded bottom-right corner */
}

/* Form and Input Styles */
#airportInput,
button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

#airportInput {
  border: 2px solid var(--accent-color);
  background-color: var(--input-bg-color);
}

button {
  cursor: pointer;
  background-color: var(--button-bg-color);
  border: none;
  color: var(--header-text-color);
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #E5B700;
  /* Darker shade on hover */
}

#main-header {
  margin: 0 auto;
}

#icon {
  padding-right: 10px;
}

/* Responsiveness */
@media (max-width: 500px) {
  body {
    font-size: 16px;
  }

  table {
    width: auto; /* Allows the table to expand as needed */
  }

  #airportInput,
  button,
  #airportSelectionDropdown {
    font-size: 1em;
    width: 100%;
    /* Uniform width for form elements */
    min-height: 40px;
    /* Easier to tap */
    margin: 5px 0;
    /* Vertical spacing */
  }

  table,
  th,
  td {
    font-size: 14px;
  }

  #departuresTable,
  #arrivalsTable {
    display: block;
    overflow-x: auto;
  }



  .search-container {
    flex-direction: column;
    align-items: stretch;
  }
}

/* Responsiveness */
@media (max-width: 900px) {
  .boards-container {
    flex-direction: column;
    /* Stack the boards vertically on smaller screens */
  }

  .board {
    width: 100%;
    /* Each board takes the full width of the container */
    flex-basis: 100%;
    margin: 10px;
    /* The max-width is not needed here as we want each board to use all available width */
  }
}
/* Adjustments for smaller screens */
@media (max-width: 500px) {
  body {
    font-size: 20px; /* Increase base font size for better readability */
  }

  .header {
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center items vertically after stacking */
    text-align: center; /* Center text for the header elements */
    padding: 20px 10px; /* Adjust padding for more space */
  }

  .table-container {
    overflow-x: auto; /* Enables horizontal scrolling */
    margin: 0 auto; /* Keeps the container centered */
    width: 100%; /* Ensures the container takes up the available width */
  }

  .header h2, .header .icon {
    margin: 10px 0; /* Add space around header elements when stacked */
  }

  table, th, td {
    font-size: 1em; /* Increase font size for table elements */
  }

  #airportInput, button {
    font-size: 18px; /* Increase font size for better readability */
    padding: 15px; /* Increase padding for larger touch targets */
    margin: 10px 0; /* Increase margin for spacing */
    width: 100%; /* Use full width to avoid overflow */
  }

  button {
    padding: 15px; /* Increase padding for a larger touch area */
  }

  .boards-container {
    flex-direction: column; /* Stack boards vertically */
  }

  .board {
    width: 100%; /* Full width for each board */
    margin: 10px 0; /* Add space between stacked boards */
  }

  /* Ensure all container elements take full width and center their content */
  .top-container, .center-container, #countdownContainer, .search-container, #main-header {
    width: 100%; /* Full width */
    justify-content: center; /* Center content */
    text-align: center; /* Center align text for consistency */
  }
}

.boards-container {
  display: flex;
  flex-direction: row;
  /* Lay out the boards side by side */
  justify-content: space-around;
  /* Center the boards horizontally */
  align-items: center;
  align-items: flex-start;
  /* Align the boards at their top edge */
  flex-wrap: wrap;
  /* Allow the boards to wrap onto new lines on smaller screens */
  gap: 20px;
  /* Add some space between the boards */
  width: 100%;
  /* Take up full width to center content within */
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--board-padding);
  /* Your existing padding */
  max-width: 90%;
}

.flash-blue {
  animation: flashBlue 1s;
  /* Run the animation over 1 second */
}

.board {
  flex: 1;
  /* Allow each board to flexibly grow to use all available space */
  min-width: 300px;
  /* Minimum width for each board, adjust as needed */
  max-width: 200rem;
  /* Removed the max-width to allow boards to grow */
}


.top-container {
  display: flex;
  justify-content: space-between;
  /* Ensures elements are spaced out to the full width */
  align-items: center;
  /* Aligns elements vertically in the center */
  padding: 10px;
  /* Adds padding around the container */
}

.center-container {
  display: flex;
  flex-direction: column;
  /* Stack the children vertically */
  align-items: center;
  /* Center the children horizontally */
  justify-content: center;
  /* Center the children vertically, if needed */
}

#countdownContainer {
  margin-left: auto;
  /* Pushes the countdown container to the right */
  white-space: nowrap;
  /* Prevents text wrapping */
  padding-right: 5%;
  float: right;
}

.search-container {
  flex-grow: 1;
  /* Allows the container to grow and take available space */
  display: inline-flex;
  justify-content: center;
  /* Centers the search form */
  margin: 0 auto;
}

#main-header {
  flex-grow: 1;
  /* Allows the container to grow and take available space */
  display: flex;
  justify-content: center;
  /* Centers the search form */
  margin: 0 auto;
  padding: 20px;
  font-size: 35px;

}

.red {
  color: #AC2B1D;
}
.orange {
  color: #CA9249;
}
.blue {
  color: #1b4a8b
}
.green {
  color: #2d6c17;
}

#airport-search-form {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  /* Centers the form's contents */
  width: 100%;
  /* Ensures the form takes the full width of its container */
  max-width: 500px;
  /* Limits the maximum width of the form */
}

#airportInput {
  flex-grow: 1;
  /* Allows the input field to grow and take available space */
  padding: 10px;
  /* Adds padding inside the input for a larger appearance */
  margin-right: 10px;
  /* Adds some space between the input and the search button */
}

button {
  padding: 10px 15px;
  /* Adjusts padding for the button for better appearance */
}

